* {
    margin: 0 auto;
    padding: 0 auto;
}

body {
    font-family: helvetica;
    /*font-family: "Lucida Console", Monaco, monospace;*/
}

h2 {
    color:white;
    width:102%;
    margin-left:-1%;
    text-align: left;
    height:1.4em;
    vertical-align: middle;
    background-color: #237dcf;
    
    text-align: center;
    
    border-bottom: solid 0.2em;
    border-bottom-color: rgba(0,0,0,0.4);
}

nav {
    position: fixed;
    top: 30%;
    width:15%;
    left:0;
    text-align: right;
    vertical-align: middle;

}

ul {
    list-style: none;
    padding: 0;
    list-style-type: none;
    margin:0;
    width:100%;
    vertical-align: middle;
        
    
}

li {
    font-size: 1.5em;
    width: inherit;
    vertical-align: middle;
    /*background-color: #237dcf;*/
    padding-right: 0.7em;
    height:1.4em;
    
    border-bottom: solid rgba(0,0,0, 0.4);
    border-width: 0.1em;
    
    
}

<!--li:hover {
    background-color: rgba(146, 191, 232, 0.5);
}-->

.panel li:hover:nth-child(1) {
    background-color: rgba(146, 191, 232, 0.5);
}
    
<!--#top_menu {
    border-top-right-radius: 5em;
}
    
#bottom_menu {
    border-bottom-right-radius: 5em;
}-->

iframe {
    padding-top: 5%;
}

footer {
    height:auto;
    background-color: rgba(0,0,0,0.4);
}
    
a {
    text-decoration: none;
    color: rgba(0,0,0,0.7);
    
}

#wrapper {
    width:65%;
    height:auto;

    opacity: 0.5%;
    text-align: center;

    margin-left:25%;
}

header {
    position: relative;
    height:130px;
}

.topmenu {
    border-top-right-radius: 2em;
}

.bottommenu{
    border-bottom-right-radius: 2em;
}

.pull-me {
    display: none;
}


/*INTRO*/
#intro {
    position: relative;
    width: 100%;
    height:1000px;
    background-color: #6694af;
}

#intro img {
    width:102%;
    margin-left: -1%;
    border-bottom: solid rgba(0,0,0,0.4);
    height:auto;
        
}

#talktimes {
    position: relative;
    margin-top: 1%;
    width:100%;
    padding-top: 5%;
}
/*ABOUTUS*/
#aboutus {
    position: relative;
    height: 1000px;
    
    background-color: #a2b4a6;
}

/*EVENTS*/
#events {
    position: relative;
    height: 1000px;
    background-color: #f6d9a6;
}

#literature {
    position: relative;
    height: 1000px;
    background-color: #f5aa5e;
}

#contact {
    position: relative;
    height: 1000px;
    background-color: #df5d49;
}
    
}