* {
    margin:0 auto;
    padding:0 auto;
}

body {
    width:100%;
    height:100%;
}

#wrapper {
    width:90%;
}

nav {
    position: fixed;
    width:90%;
    height:2em;
    display: inline-block;
    text-align: center;
    background-color: grey;
    
    z-index: 1;
}

ul {
    list-style: none;
    padding: 0;
    list-style-type: none;
    margin:0;
}

li {
    display:inline;
    padding-right: 1.5em;
    width: auto;
}

#gap {
    height:2em;
}

#mainhome {
    position:inherit;
}

#intro{
    position: relative;
    height:auto;
    width:100%;
    display: inline-block;
}

#introWrap {
    display: table-row;
}

#introImage {
    position: inherit;
    display: table-cell;
    float:left;
    width:68%;
}

#introImage img {
    width:100%;
    max-height: 20em;
}

#introUpcoming {
    position: inherit;
    display: table-cell;
    
    width:30%;
    height:100%;
    float:right;
    border:solid 0.5em;
}